extends ../layout

block content
	include ../includes/head
	div(id='db-nav-movie',class='nav')
		div(class='nav-wrap')
			div(class='nav-primary')
				div(class='nav-logo')
					a(href='#') 豆瓣电影
				div(class='nav-search')
					form(method='get',action='/movie/movDetail')
						fieldset
							legend 搜索
							label(for='inp-query',style='display:none') 电影、影人、影院、电视剧
							div(class='inp')
								input(id='inp-query',name='search-text',class='placeholder',size='22',maxlength='60',placeholder='电影、影人、影院、电视剧',autocomplete='off')
							div(class='inp-btn')
								input(type='submit',value='搜索')
							input(type="hidden", name="cat", value="1002")
					a(href='#',target='_blank',class='ban-filmawards')
						img(src='/img/xinxiang_6th_nav.png',alt='豆瓣电影观影报告')
		div(class='nav-secondary')
			div(class='nav-items nav-anon')
				ul
					mixin parameters(name,url)
						li
							a(href='#{url}') #{name}
					+parameters('影讯&购票','#')
					+parameters('选电影','#')
					+parameters('电视剧','#')
					+parameters('排行榜','#')
					+parameters('分类','#')
					+parameters('影评','#')
					+parameters('2015年度榜单','#')
					+parameters('豆瓣观影报告','#')
	div(id='wrap')
		div(id='content')
			h1
				span(id='moviename')	#{movie.moviename}
				span(class='year')	(2016)
			div(class='grid-16-8 clearfix')
				div(class='article')
					div(class='indent clearfix')
						div(class='subjectwrap clearfix')
							div(class='subject clearfix')
								div(id='mainpic')
									a(class='nbgnbg',title='点击看更多海报',href='#')
										img(src='/img/panda1.jpg',title="点击看更多海报",alt="Kung Fu Panda 3")
								div(id='info')
									span(class='director')
										span(class='p1')	导演
										span(class='attrs')	#{movie.director}
									br
									span(class='writers')
										span(class='p1')  编剧
										span(class='attrs')  #{movie.writers}
									br
									span(class='actors')
										span(class='p1')  主演
										span(class='attrs')  #{movie.actors}
									br
									span(class='type')
										span(class='p1')  类型
										span(class='attrs')  #{movie.type}
									br
									span(class='countries')
										span(class='p1')  国家
										span(class='attrs')  #{movie.countries}
									br
									span(class='language')
										span(class='p1')  语言
										span(class='attrs')  #{movie.language}
									br
									span(class='showDate')
										span(class='p1')  上映日期
										span(class='attrs')  #{moment(movie.meta.showDate).format('YYYY/MM/DD')}
									br
									span(class='runtime')
										span(class='p1')  时长
										span(class='attrs')  #{movie.meta.runtime}
									br

